// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
        height: 100%;
        margin: 0;
      }

#target-page {
  min-height: 100%; 
  width: 100%;
}