// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
  height: 100%;
  margin: 0;
}

iframe {
  height: 80%; 
  width: 100%;
}
#talkwrapper {
  min-height: 200px; 
  width: 100%;
}